/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);
  font-family: "Helvetica Neue", Helvetica, sans-serif !important;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
    font-family: "Helvetica Neue", Helvetica, sans-serif !important;
  }
}

/* Force Helvetica on all text elements */
body, p, h1, h2, h3, h4, h5, h6, div, a, li, td, th, blockquote, input, button, select, textarea, pre, code, .post-title {
  font-family: "Helvetica Neue", Helvetica, sans-serif !important;
}

.post-title {
  font-family: "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 600 !important;
}

/* Handle spans carefully to avoid breaking icons */
span:not([class*="fa"]):not([class*="ai"]):not([class*="icon"]):not([class*="material-icons"]) {
  font-family: "Helvetica Neue", Helvetica, sans-serif !important;
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
